.profile {
  padding: 20px;
  background: #26252d;
  border-radius: 20px;
}

.profileTop {
  display: flex;
  margin-bottom: 20px;
}

.profileAvatar {
  margin-right: 20px;
}

.profileNmaeLink {
  display: flex;
  column-gap: 10px;
}

.profileName {
  color: #f2f2f2;
  font-weight: 700;
  font-size: 24px;
}

.profileCareer {
  font-weight: 500;
  font-size: 14px;
  color: #c9c7d0;
}

.profileMiddle {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 20px;
  color: #7b798f;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.profileBottom {
  text-align: center;
}

.profileMore {
  font-weight: 500;
  font-size: 14px;
  color: #04b17d;
  cursor: pointer;
}
